@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
    --verde-claro: #9BDB8D; /* Verde claro, natureza */
    --verde-escuro: #3B8D57; /* Verde escuro */
    --rosa-floral: #FFB7B2; /* Rosa suave, flores */
    --amarelo-flor: #F6D02F; /* Amarelo vibrante */
    --branco-floral: #F3F4F7; /* Branco suave */
}

body {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--branco-floral);
}

header {
    background-color: var(--verde-escuro);
}

.nav-link {
    color: var(--rosa-floral);
    font-weight: 600;
}

/* Seção Início */
.inicio-fundo {
    background-image: url('img/expoflora-banner.jpg'); /* Troque para a imagem de fundo com flores */
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    width: 100%;
    padding: 80px 0;
}

.inicio-fundo h1 {
    color: #fff;
}

/* Seção Galeria */
#galeria {
    background-image: url('img/galeria-fundo.jpg'); /* Imagem de fundo com flores ou natureza */
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    border-radius: 20px;
}

.fundo-galeria {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo com transparência para as imagens se destacarem */
    padding: 2rem;
    border-radius: 20px;
}

/* Seção Contato */
#contato {
    background-image: url('img/contato-fundo.jpg'); /* Imagem de fundo com flores, plantas ou paisagens naturais */
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    border-radius: 20px;
}

/* Footer */
footer {
    background-color: var(--verde-claro);
    color: var(--verde-escuro);
    padding: 20px 0;
}

footer i {
    font-size: 24px;
    margin: 0 10px;
    color: var(--verde-escuro);
}

footer i:hover {
    color: var(--amarelo-flor);
}

/* Botões */
.botao-inicio {
    background-color: var(--verde-escuro);
    color: #fff;
}

.botao-inicio:hover {
    background-color: var(--verde-claro);
}

/* Estilo de texto e botões */
h1, h2, h3 {
    color: var(--verde-escuro);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}